<li class="folder">
      <span class="list_block_folder">
        <img
          [class.rotate]="isOpened"
          class="arrow"
          [src]="imgArrow"
          alt="arrow"
          (click)="openFirstFolder()"
        >
        <img
          [src]="imgFolder"
          alt="folder"
        >
          {{ data.name }}
        <app-buttons class="icons" [data]="data"></app-buttons>
      </span>
  <ul>
    <li
      class="data"
      *ngFor="let item of data.children">
        <app-intermediate-layer
          [data]="item"
          *ngIf="isOpened"
        >
        </app-intermediate-layer>
    </li>
  </ul>
</li>
