<li class="folder">
  <span class="list_block_folder">
    <img
      [class.rotate]="isOpened"
      class="arrow"
      [src]="imgArrow"
      alt="arrow"
      (click)="openFirstFolder()"
    >

    <img
      [src]="imgFolder"
      alt="folder"
    >

    {{ data.name }}
    <app-icons-item class="icons" [data]="data"></app-icons-item>
  </span>

  <ul>
    <li
      class="data"
      *ngFor="let item of data.children">
      <app-item-types-entities
        [data]="item"
        *ngIf="isOpened"
      >
      </app-item-types-entities>
    </li>
  </ul>
</li>
