.list_block{
  margin: 1rem;
  color: #e6e3ff;

  .mapping{
    display: none;
  }

  .list_block_folder{



    .rotate{
      transform: rotate(270deg);
    }

    .arrow{
      margin-right: 10px;
      cursor: pointer;

    }
  }
.list_block_file{
  margin: 10px 30px;
}
  .file{
  }
  img{
    width: 20px;
  }
}
