.list_block{
  margin: 1rem;
  color: #e6e3ff;


  .list_block_folder{


    .arrow{
      margin-right: 10px;
      cursor: pointer;
      //transform: rotate(180deg);
    }
  }
.list_block_file{
  margin: 60px;

}

  .file{

  }

  img{
    width: 20px;
  }
}
